@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

$theme-colors: (
  "dark": #2b2d42,
  "primary": #2f3249,
  "secondary": #444860,
  "light": #9fa4be,
  "success": #298a5d,
  "info": #895ae3,
  "warning": #e36e59,
);

@import "~bootstrap/scss/bootstrap";

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", sans-serif;
}

#root {
  display: flex;
}

.buttonHover:hover {
  transform: scale(1.04, 1.04);
}

.active {
  border-left: 3px solid #00cf6e;
}

.active img,
.activated {
  filter: invert(50%) sepia(44%) saturate(3439%) hue-rotate(120deg)
    brightness(106%) contrast(102%);
}

.pillbutton:hover,
.check:hover {
  cursor: pointer;
}
